<!-- Load processing nodelets for the Color camera -->
<launch>

  <arg name="manager" />
  <arg name="respawn" default="false" />

  <arg name="rectify" default="true" />
  
  <!-- Remapping arguments -->
  <arg name="rgb"              default="rgb" />
  <arg name="ir"               default="ir" />
  <arg name="depth"            default="depth" />

  <!-- Color rectified image -->
  <node if="$(arg rectify)" pkg="nodelet" type="nodelet" name="rectify_color"
        args="load image_proc/rectify $(arg manager)"
        respawn="$(arg respawn)">
    <remap from="image_mono" to="image" />
  </node>  

</launch>
