name: CI

on: [push, pull_request]

jobs:
  industrial_ci:
    name: ROS2 (${{ matrix.env.ROS_DISTRO }})
    strategy:
      fail-fast: false
      matrix:
        env:
          - {ROS_DISTRO: rolling, ROS_REPO: ros, ABICHECK_URL: "github:ros-drivers/openni2_camera#ros2"}
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - uses: 'ros-industrial/industrial_ci@master'
        env: ${{ matrix.env }}
